<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
</head>

<h2><a href="/movies">Movies</a> <a href="/directors">Directors</a> <a href="/actors">Actors</a> </h2>
<br>
<h1>Update Movie <%= @movie.id %></h1>

<form action="/update_movie/<%= @movie.id %>">

  <label for="title">
    Title
  </label>
  <input type="text" id="title" name="title" value="<%= @movie.title %>">

  <br>

  <label for="year">
    Year
  </label>
  <input type="text" id="year" name="year" value="<%= @movie.year %>">

  <br>

  <label for="duration">
    Duration
  </label>
  <input type="text" id="duration" name="duration" value="<%= @movie.duration %>">

  <br>

  <label for="description">
    Description
  </label>
  <textarea id="description" name="description" rows="3"><%= @movie.description %></textarea>

  <br>

  <label for="image_url">
    Image URL
  </label>
  <input type="text" id="image_url" name="image_url" value="<%= @movie.image_url %>">

  <br>

  <input type="submit" value="Update Movie" class="btn btn-primary">

</form>
