
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
  <style type="text/css">
  div.row {
    border: 1px solid darkgrey;
    border-radius: 4px;
    margin-top: -top: 10px;
    margin-bottom: 10px;
  }
  </style>
</head>

<h2><a href="/movies">Movies</a> <a href="/directors">Directors</a> <a href="/actors">Actors</a> </h2>
<br>
<h1>Directors</h1>
<a href="/directors/new_form">Add New</a>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2">Image</div>
    <div class="col-sm-2">Name</div>
    <div class="col-sm-2">DOB</div>
    <div class="col-sm-2">Bio</div>
    <div class="col-sm-2">Actions</div>
  </div>
  <% @directors.reverse.each do |director| %>
  <div class="row">
    <div class="col-sm-offset-1 col-sm-2"><img src="<%= director.image_url %>" width="80"></div>
    <div class="col-sm-2"><%= director.name %></div>
    <div class="col-sm-2"><%= director.dob %></div>
    <div class="col-sm-2"><%= director.bio.to_s.byteslice(0,199)+"..." %></div>
    <div class="col-sm-2">
      <a href="/directors/<%= director.id %>" class="btn btn-default">
        Show Details
      </a>
      <a href="/directors/<%= director.id %>/edit" class="btn btn-default">
        Edit
      </a>
      <a href="/delete_director/<%= director.id %>" class="btn btn-default">
        Delete
      </a>

    </div>
  </div>
  <% end %>

</div>
