<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
</head>

<h2><a href="/movies">Movies</a> <a href="/directors">Directors</a> <a href="/actors">Actors</a> </h2>
<br>
<h1>Director #<%= @director.id %></h1>


<dl class="dl-horizontal">
  <dt>Dob</dt>
  <dd><%= @director.dob %></dd>

  <dt>Name</dt>
  <dd><%= @director.name %></dd>

  <dt>Bio</dt>
  <dd><%= @director.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @director.image_url %>" width="320"></dd>

</dl>
